<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>{{ .Site.Title | title }}{{ if ne .RelPermalink "/" }} - {{ .Page.Title | title }}{{ end }}</title>
  <link rel="icon" type="image/ico" href="/assets/favicon.ico" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Inter:wght@400;500;600&display=swap">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap/grid.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  {{ if eq .Section "destinations" }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  {{ end }}

  <!-- Include the script that enables Netlify Identity on this page. -->
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
