<section class="section">
  <div class="container gallery">
    <div class="masonry" data-col-lg="2" data-col-md="2" data-gap="20">
      <div class="grid">
        <div class="grid-sizer"></div>
        {{ $paginator := .Paginator }}
        {{ range $paginator.Pages.ByDate.Reverse }}
        {{ $src := .Params.cover }}
        {{ $url := urls.Parse $src }}
        <div class="grid-item">
          <div class="grid-item--content">
            <div class="album">
              <a href="{{ .RelPermalink }}">
                <div class="hoverbox ef-fade">
                  <div class="hoverbox-front">
                    <img src="{{ $src }}" alt="{{ .Title | title }}" />
                  </div>
                  <div class="hoverbox-back">
                    <h2 class="album-title">{{ .Title | title }}</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>