<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>{{ .Site.Title | title }}{{ if ne .RelPermalink "/" }} - {{ .Page.Title | title }}{{ end }}</title>
  <link rel="icon" type="image/ico" href="/img/favicon.ico" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Public+Sans:wght@400;700&display=swap">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap/grid.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
