<script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
<script type="text/javascript" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js" nomodule></script>
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/imagesloaded/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="/js/masonry/masonry.pkgd.js"></script>
<script type="text/javascript" src="/js/typed/typed.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>